body, html {
    font-family: Quicksand, sans-serif !important;
    height: 100%;
    padding-top: 2rem;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.card {
    padding: 2%;
    margin: 2%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    margin-bottom: 10px;
}

h1, h2, h3 {
    margin-bottom: 20px;
    color: #343a40;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.table {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    vertical-align: middle;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}
